*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.m_appContent
{
    border: 1px solid black;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;


}
.m_AddItem
{
    width: 40%;
    margin: auto;
    margin-top: 1rem;
    display: flex;
    align-items: baseline;
    justify-content: space-evenly;
    /* border: 1px solid blue; */

}
.m_error
{
    display: flex;
    justify-content: center;
}
.m_errorMsg
{
    color: red;
    
}
.m_addButton
{
    /* border: 1px solid blue; */
    width: 5rem;
    height: 2rem;
    background-color: lightgreen;
    border: none;
    border-radius: 5px;
    margin-bottom: 1rem;
}

.m_listContainer
{
    /* border: 1px dashed red; */
    border-top: 1px solid gray;
    display: flex;
    width: 100%;
    height: 100%;

}
.m_todoList
{
    /* border: 1px dashed red; */
    width: 50%;
    height: 100%;
}
.m_completedTasks
{
    /* border: 1px dashed red; */
    width: 50%;
    height: 100%;
    /* display: flex; */
    /* flex-direction: column; */
    /* flex-wrap: wrap; */
    /* align-items: center; */
    /* justify-content: baseline; */
}
.m_completedTask
{
    height: 3rem;
    width: 75%;
    border-bottom: 1px solid gray;
    margin: auto;
    padding: .5rem;
    display: flex;
    justify-content: space-around;

}
.m_todoItem
{
    /* border-bottom: 1px solid grey; */
    height: 3rem;
    width: 75%;
    border-bottom: 1px solid gray;
    margin: auto;
    padding: .5rem;
    display: flex;
    justify-content: space-around;
}
.m_complete
{
    width: 5rem;
    height: 2rem;
    background-color: lightgreen;
    border: none;
    border-radius: 5px;
    margin-bottom: 1rem;   
}

.m_itemName
{
    width: 12rem;
    height: 2rem;
}
.m_itemDate
{
    width: 12rem;
    height: 2rem;
}





